@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");


  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body  {
  margin: 0;
  font-family: "PT Sans",sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #E5E5E5;
  color: #333333;
  height: inherit;
}

.body-content-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  min-height: 100%;
}

/* button */

.button, .button-brown.navigation-link {
  font-family: inherit;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 35px;
  border-radius: 4px;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83B3D3;
}

.popover-button {
  padding: 20px 35px;
  display: block;
  width: 100%;
  border-radius: 0 0 20px 20px ;
}

.button.active {
  background-color: #7DB54F;
}

.filter-submit-button {
  height: 48px;
}

.button-reset {
  height: 32px;
  padding: 2px 10px;
  padding-top: 1px;
  background-color: transparent;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
}

.button-reset:focus {
  border-color: #83B3D3;
  outline: none;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-form .button {
  border-radius: 0px 10px 10px 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-email {
  margin: 0;
}

.newsletter-email .field {
  width: 600px;
}

.hotel-search .button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

.page-header {
  color: #000000;
  position: relative;
  z-index: 1;
}

.inner-header {
  margin-bottom: 50px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 65px;
  padding: 0 71px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 450px;
}

.navigation-item {
  position: relative;
}

.navigation-user {
  max-width:450px;
}

.navigation-link {
  position: relative;
  display: block;
  color: inherit;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.navigation-link-current::before {
  position: absolute;
  content: '';
  background-color: #756257;
  right: 12px;
  left: 12px;
  height: 2px;
  bottom: -15px;
}

.navigation-user .navigation-link {
  display: flex;
  margin: auto;
  min-width: 18px;
  min-height: 18px;
  padding: 10px;
}

.navigation-link.button {
  padding: 8px 35px;
}

.hotel-card-grid-container .button {
  padding-left: 28px;
  padding-right: 28px;
}

.navigation-icon {
  margin: auto;
  fill: black;
}


.navigation-favourites-link::before {
  display: block;
  position: absolute;
  z-index: 1;
  content: '12';
  font-size: 10px;
  line-height: 19px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #7DB550;
  color: #FFFFFF;
  right: -4px;
  top: 0;
  text-align: center;
  font-weight: normal;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;

}

.navigation-link:active .navigation-icon {
  fill:#756257;
  opacity: 30%;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:hover, .button-brown:active, .button-brown:focus {
  background-color: #615048;
}

.button-blue:hover, .button-blue:active, .button-blue:focus {
  background-color: #68A2CA;
}

.button.active:hover, .button.active:active, .button.active:focus {
  background-color: #6C9E42;
}

.navigation-button-item {
  margin-left: 23px;
}

.navigation-favourites-link:active::before {
  color: rgba(255, 255, 255, 0.3);
}

.logo-small {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.index-logo {
  position: relative;
  background-color: #cfa294;
  background-image: url("../img/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 83px;
  margin-bottom: 63px;
}

.index-logo::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  background-image: url(../img/index-background-mask.svg);
}

.logo-welcome {
  display: block;
  margin: 0 auto;

}

.main-index {

}



.main-container {
flex-grow: 1;
}



/* catalog */



/* Общие стили для фильтров и хедера с хлебными крошками */
.inner-background-container {
  width: 1200px;
  background-image: url("../img/catalog-background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: #FFFFFF;
  padding: 0 71px;
  padding-top:50px;
  padding-bottom: 85px;
}

.hotels-cards-and-sort, .catalog-filter {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.hotels-cards-and-sort-container {
  width: 1058px;
  margin: 0 auto;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  display: flex;
}

.breadcrumbs-item::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 5px;
  background-image: url(../img/breadcrumbs.svg);
  top: 11px;
  right: -5px;
}

.breadcrumbs-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  display: block;
  min-height: 28px;
  min-width: 28px;
  padding: 3px 8px;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 10px;
}

.breadcrumbs-item:last-child::after {
  content: none;

}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.hotel-card {
  width: 1060px;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-left-column {
  display: flex;
  width: 550px;
  margin-right: auto;
}

.hotel-card-right-column {
  width:160px;
}

.hotel-card-grid-container {
  display: grid;
  grid-template-columns: 150px 160px;
  grid-template-rows: min-content 1fr min-content;
  column-gap: 8px;
}

.hotel-card-link-title {
  grid-column: span 2;
}

.hotel-card-price {

}


.hotels-cards-list {
  padding: 0;
  margin: 0;
}

.hotel-card-link-pic, .hotel-card-link-title {
  text-decoration: none;
}

.hotel-card-link-pic {
  margin-right: 36px;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  font-weight: bold;
}

.hotel-card-rating {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
}

.filter-result {
  width: 360px;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.catalog-filter {

}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  width: 160px;
  margin-right: 50px;
  border: none;
  padding: 0;

}

.catalog-filter-group:nth-child(2n) {
  margin-right: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-filter-list{
  list-style-type: none;
  padding: 0;
}

.filter-left-column{
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin-right: auto;
}

.filter-right-column {
  width: 540px;
  display: flex;
}

.form-buttons-container {


}

.sort-container {
  display: flex;
  border-bottom: 1px solid #E6E6E6;
}

.sort-column {
  display: flex;
  align-items: center;
  width: 580px;
  margin-left: auto;
}

.card-toggle {
  height: 48px;
  width: 48px;
  margin-right: 8px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-toggle:nth-of-type(1) {
  background-image: url(../img/mode-tile.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card-toggle:nth-of-type(2) {
  background-image: url(../img/mode-slideshow.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card-toggle:nth-of-type(3) {
  background-image: url(../img/mode-list.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card-toggle:last-child {
  margin-right: 0;
}

.card-toggle:hover, .card-toggle:active {
  border: 2px solid #83B3D3;
}

.card-toggle-active {
  border: 2px solid #000000;
}

.sorting-form {
  margin-right: auto;
}

.show-more-container {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #E6E6E6;
}
/* Главная страница */

.page-title {
  color:#000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.advantages {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-title {
  margin:0px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color:#000000;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages h2 {
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  margin-bottom: 79px;
}

.advantage-with-pic {
  background-color: #83B3D3;
  color:#FFFFFF;
  display: flex;
  width: 1200px;
}

.advantage-with-pic:last-of-type {
  flex-direction: row-reverse;
}



.advantages-pic {
  width: 800px;
}

.advantages-list {
  display: flex;
}

.advantages-description {
  margin: 0;
}

.advantages-number {
  margin: 0;
  margin-bottom: 26px;
}

.advantage-with-pic .advantages-title {
  color:#FFFFFF;
}

.advantage-content-container, .advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 384px;
  padding: 85px;
}

.advantages-item-with-icon:nth-child(1)::before {
  content: "";
  margin: 0 auto;
  margin-bottom: 23px;
  width: 80px;
  height: 76px;
  background-image: url(../img/advantages-icon-1.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item-with-icon:nth-child(2)::before {
  content: "";
  margin: 0 auto;
  margin-bottom: 23px;
  width: 80px;
  height: 76px;
  background-image: url(../img/advantages-icon-2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item-with-icon:nth-child(3)::before {
  content: "";
  margin: 0 auto;
  margin-bottom: 23px;
  width: 80px;
  height: 76px;
  background-image: url(../img/advantages-icon-3.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-numbered .advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.pagination-container {
  display: flex;
  padding: 31px 0;
}

.pagination {
  display: flex;
  width: 370px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  margin-right: auto;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  padding: 9px 15px;
  height: 55px;
  min-width: 55px;
  font-size: 20px;
  line-height: 36px;
}

.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  min-width: 625px;
  padding: 15px 30px;
}

.pagination-current {
  color: inherit;
  background-color:#F2F2F2;
}

.number-of-cards-form {
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-search {
  padding: 91px 0;
  min-height: 417px;
}

.hotel-search {
  text-align: center;
}

.hotel-search b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hotel-search-description {
  margin-bottom: 60px;
}

/* footer */

.newsletter {
  color:#FFFFFF;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#83B3D3;
  padding: 94px 0;
  text-align: center;
}

.newsletter-inner {
  text-align: center;
  padding: 58px 0;
  padding-bottom: 94px;
}

.footer-bottom-container {
  display: flex;
  padding: 0 71px;
  min-height: 120px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}



 .newsletter-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 45px;
}

.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-social-item {
  height: 40px;
  width: 40px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 126px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;

}

.social-icon {
  margin: auto;
}



.htmlacademy-link {
}

.contacts-phone {
  text-decoration: none;
  color: #000000;
  padding: 15px;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:active {
  opacity: 0.3;
}

.newsletter-field {
  margin: 0;
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  padding: 15px;
  padding-left: 22px;
  padding-right: 19px;
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
  border: 2px solid transparent;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:active {
  border-color: #000000;
}

.field.error {
  border-color: #FF5757;
}

.field::placeholder {

}

.range-scale {
  width: 277px;
  height: 4px;
  background-color:rgba(255, 255, 255, 0.3);
  position: relative;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color:#FFFFFF;
}

.range-toggle {
  position: absolute;
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 32px;
}

.range-input {
  height: 48px;
  width: 143px;
  font: inherit;
  color: #FFFFFF;
  background: transparent;
  border: 2px solid #FFFFFF;
}

.range-input-min {
  border-radius: 4px 0px 0px 4px;
}

.range-input-max {
  border-radius: 0px 4px 4px 0px;
}

.range-input:focus {

}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  padding-left: 40px;

}

.control-mark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  top: 2px;
  left: 0px;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../img/checked-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-5px;
  margin-left: -5px;
}

.select {
  width: 287px;
}

.select-control {
  width: 100%;
  padding-top:12px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 33px;
  font: inherit;
  appearance: none;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url(../img/select-icon.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.select-control:hover,
.select-control:focus {
  border-color: #83B3D3;
  outline: none;

}

.select-control:active {
  border-color: #E6E6E6;
  color: #E6E6E6;
  outline: none;
}

.popover {
  width: 400px;
  min-height: 146px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  font-family: "PT Sans",sans-serif;
  position: absolute;
  border-radius: 20px;
  z-index: 2;
  top: 0;
  right: 0;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  margin-right: 0;
}



.cart-item-link {
  display: grid;
  grid-template-columns: 48px auto;
  column-gap: 17px;
  text-decoration: none;
  color: #000000;
}

.cart-item-image {
  grid-row: span 2;
}

.cart-item-title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;

}

.cart-item-description {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
}

.cart-item-button {
  background: transparent;
  border: none;
  align-self: flex-start;
  padding: 7px;
  margin-right: 18px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal {
  border-radius: 30px;
  position: relative;
  padding: 70px;
  padding-top: 60px;
  margin: auto;
  background-color: #FFFFFF;
}

.modal-search-hotel {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../img/button-close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 65px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.modal-hotel-search-form {

}

.modal-button {
  border-radius: 10px;
  width: 575px;
  font-size: 20px;
  line-height: 40px;
}




.modal-input-error {
  display: none;
  color: #FF5757;
}

.modal-input-success {
  display: none;
}

.modal-field:invalid + .modal-input-status .modal-input-error {
  display: block;
}

.modal-field:valid + .modal-input-status .modal-input-success {
  display: block;
}

.modal-input-status {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 40px;
}

.modal-field {
  font-family: "PT Sans",sans-serif;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  padding: 5px 19px;
  width: 420px;
}

.modal-field-number {
  width: 133px;
  padding: 5px 45px;
  text-align: center;
}

.minus-button, .plus-button {
  position: absolute;
  height: 19px;
  width: 19px;
  border: none;
  background: transparent;
  font-size: 13px;
  cursor: pointer;
}

.minus-button {
  bottom: 16px;
  left: 16px;
}

.plus-button {
  bottom: 16px;
  right: 16px;
}

.minus-button::before, .plus-button::before {
  position: absolute;
  right: 3px;
  display: block;
  height: 1px;
  background-color: #000000;
  width: 13px;
  content: '';
}

.plus-button::after{
  position: absolute;
  right: 3px;
  display: block;
  transform: rotate(90deg);
  height: 1px;
  background-color: #000000;
  width: 13px;
  content: '';
}

.number-buttons-wrapper {
  position: relative;
}

.modal-field-group {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}



.modal-field-number::-webkit-outer-spin-button,
.modal-field-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-field-number[type=number] {
  -moz-appearance: textfield;
}

.modal-field-group label {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}

.info-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #83B3D3;
  background-image: url(../img/info-2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.info-icon:hover {
  background-color: #68A2CA;
}
