@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");


  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

html {
  height: 100%;
}

body  {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans",sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #E5E5E5;
  color: #333333;
}

/* button */

.button, .button-brown.navigation-link {
  font-family: inherit;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83B3D3;
}

.button.active {
  background-color: #7DB54F;
}

.page-header {
  color: #000000;
  background-color:#FFFFFF;
}

.navigation {
  display: flex;
  width: 1070px;
  margin: 0 auto;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 450px;
}

.navigation-user {
  max-width:300px;
  margin-left: auto;
}

.navigation-link {
  color: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.index-logo {
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.logo-2 {
  display: block;
  margin: 0 auto;

}

.logo {

}


.main-index {
background-color: #FFFFFF;
}

.main-inner {
  background-color: #FFFFFF;
}

.main-container {
flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* catalog */



/* Общие стили для фильтров и хедера с хлебными крошками */
.inner-background-container {
  background-image: url("../img/catalog-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.hotels-cards-and-sort, .catalog-filter {
  font-size: 18px;
  line-height: 23px;
}

.breadcrumbs {
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  font-weight: bold;
}

.hotel-card-rating {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
}

.filter-result {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}


.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

/* Главная страница */

.page-title {
  color:#000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color:#000000;
}

.advantages-list {
  padding: 0;
  margin: 0;
}

.advantages h2 {
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
}

.advantage-with-pic {
  background-color: #83B3D3;
  color:#FFFFFF;
  display: flex;
  width: 1200px;
}

.advantage-with-pic:last-of-type {
  flex-direction: row-reverse;
}

.advantage-content-container {
  width: 400px;
}

.advantages-pic {
  width: 800px;
}

.advantages-list {
  display: flex;
}

.advantage-with-pic .advantages-title {
  color:#FFFFFF;
}

.advantages-item {
  width: 400px;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-numbered .advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}




.pagination-current {
  background-color:#F2F2F2;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.hotel-search {
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* footer */

.newsletter {
  width: 1200px;
  color:#FFFFFF;
  background-image: url("../img/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color:#83B3D3;
  text-align: center;
}

.newsletter-inner {
  background-color:#FFFFFF;
  text-align: center;
}

.page-footer {
  background-color: #FFFFFF;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.footer-bottom-container {
  width: 1070px;
  margin: 0 auto;
  display: flex;
}

.page-footer-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  text-align: center;
}

.footer-social {
  width: 130px;
  margin-left: 38px;
}

.footer-social-list {
  padding: 0;
  margin: 0;
}

.htmlacademy-link {
  margin-left: auto;
}

.contacts-phone {
  text-decoration: none;
  color: #000000;
}
