@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");


  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body  {
  margin: 0;
  font-family: "PT Sans",sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #E5E5E5;
  color: #333333;
  height: inherit;
}

.body-content-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  min-height: 100%;
}

/* button */

.button, .button-brown.navigation-link {
  font-family: inherit;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83B3D3;
}

.button.active {
  background-color: #7DB54F;
}

.page-header {
  color: #000000;
  position: relative;
}

.inner-header {
  margin-bottom: 50px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 71px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 450px;
}

.navigation-user {
  max-width:450px;
}

.navigation-link {
  position: relative;
  display: block;
  color: inherit;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;

}

.logo-small {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.index-logo {
  background-color: #cfa294;
  background-image: url("../img/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 83px;
  margin-bottom: 63px;

}

.logo-welcome {
  display: block;
  margin: 0 auto;

}

.main-index {

}



.main-container {
flex-grow: 1;
}



/* catalog */



/* Общие стили для фильтров и хедера с хлебными крошками */
.inner-background-container {
  width: 1200px;
  background-image: url("../img/catalog-background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: #FFFFFF;
  padding: 0 71px;
  padding-top:50px;
  padding-bottom: 85px;
}

.hotels-cards-and-sort, .catalog-filter {
  font-size: 18px;
  line-height: 23px;
}

.hotels-cards-and-sort-container {
  width: 1058px;
  margin: 0 auto;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  display: flex;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;

}

.breadcrumbs-item:first-child {
  height: 12px;
  width: 12px;
}

.breadcrumbs-item {
  margin-right: 27px;
}

.hotel-card {
  width: 1060px;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-left-column {
  display: flex;
  width: 550px;
  margin-right: auto;
}

.hotel-card-right-column {
  width:160px;
}

.hotel-card-grid-container {
  display: grid;
  grid-template-columns: 150px 160px;
  grid-template-rows: min-content 1fr min-content;
  column-gap: 8px;
}

.hotel-card-link-title {
  grid-column: span 2;
}

.hotel-card-price {

}


.hotels-cards-list {
  padding: 0;
  margin: 0;
}

.hotel-card-link-pic, .hotel-card-link-title {
  text-decoration: none;
}

.hotel-card-link-pic {
  margin-right: 36px;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  font-weight: bold;
}

.hotel-card-rating {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
}

.filter-result {
  width: 360px;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.catalog-filter {

}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  width: 160px;
  margin-right: 50px;
  border: none;
  padding: 0;

}

.catalog-filter-group:nth-child(2n) {
  margin-right: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-filter-list{
  list-style-type: none;
  padding: 0;
}

.filter-left-column{
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin-right: auto;
}

.filter-right-column {
  width: 540px;
  display: flex;
}

.sort-container {
  display: flex;
  border-bottom: 1px solid #E6E6E6;
}

.sort-column {
  display: flex;
  align-items: center;
  width: 580px;
  margin-left: auto;
}

.sort-column .button {
  height: 48px;
  width: 48px;
}

.sorting-form {
  margin-right: auto;
}

.show-more-container {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #E6E6E6;
}
/* Главная страница */

.page-title {
  color:#000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.advantages {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-title {
  margin:0px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color:#000000;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages h2 {
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  margin-bottom: 79px;
}

.advantage-with-pic {
  background-color: #83B3D3;
  color:#FFFFFF;
  display: flex;
  width: 1200px;
}

.advantage-with-pic:last-of-type {
  flex-direction: row-reverse;
}



.advantages-pic {
  width: 800px;
}

.advantages-list {
  display: flex;
}

.advantages-description {
  margin: 0;
}

.advantages-number {
  margin: 0;
  margin-bottom: 26px;
}

.advantage-with-pic .advantages-title {
  color:#FFFFFF;
}

.advantage-content-container, .advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 384px;
  padding: 85px;
}

.advantages-item-with-icon:nth-child(1)::before {
  content: "";
  margin: 0 auto;
  margin-bottom: 23px;
  width: 80px;
  height: 76px;
  background-image: url(../img/advantages-icon-1.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item-with-icon:nth-child(2)::before {
  content: "";
  margin: 0 auto;
  margin-bottom: 23px;
  width: 80px;
  height: 76px;
  background-image: url(../img/advantages-icon-2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item-with-icon:nth-child(3)::before {
  content: "";
  margin: 0 auto;
  margin-bottom: 23px;
  width: 80px;
  height: 76px;
  background-image: url(../img/advantages-icon-3.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-numbered .advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.pagination-container {
  display: flex;
  padding: 31px 0;
}

.pagination {
  display: flex;
  width: 370px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  margin-right: auto;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  padding: 9px 0;
  height: 55px;
  width: 55px;
}

.pagination-current {
  color: inherit;
  background-color:#F2F2F2;
}

.number-of-cards-form {
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-search {
  padding: 91px 0;
  min-height: 417px;
}

.hotel-search {
  text-align: center;
}

.hotel-search b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hotel-search-description {
  margin-bottom: 60px;
}

/* footer */

.newsletter {
  color:#FFFFFF;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#83B3D3;
  padding: 94px 0;
  text-align: center;
}

.newsletter-inner {
  text-align: center;
  padding: 58px 0;
  padding-bottom: 94px;
}

.footer-bottom-container {
  display: flex;
  padding: 0 71px;
  min-height: 120px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}



 .newsletter-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 50px;
}

.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-social-item {
  height: 40px;
  width: 40px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 126px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.htmlacademy-link {
}

.contacts-phone {
  text-decoration: none;
  color: #000000;
}
